:root{
    --branco-principal:#FFFFFF;
    --cinza-secundario:#575757;
    --botão-azul:#0155bb;
    --cor-de-fundo:#E5E5E5;
    --fonte-principal: "oswald";
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

*{
    margin: 0%;
    padding: 0%
}

.principal{
    background-image: url("./img/image\ 12.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:30% 0%;
    text-align: center;
    
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container--titulo{
    font-size: 28px;
    font-weight: 700;
}
.container--botao{
    background-color: var(--botão-azul);
    padding: 1em;
    border-radius: 5px;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}
.container--botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}
.container--aviso{
    color: var(--cinza-secundario);
    font-size: 12px;
}
.secundario{
  align-items: center;
  margin: 0 10em;
}
.descricao--titulo{
font-weight: 700;
font-size: 48px;
color: var(--branco-principal);
margin-bottom: 0. 1em;
}
.descricao--texto{
    color: var(--cinza-secundario);
}
.cont--descricao{
    padding: 1em;
}
.secundario--imagem{
    width: 80%;
}